<h1>
  {{title}}
</h1>
<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">#BEBACAFE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#colors">Colores</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div id="rectangle">
              <h2>#BEBACAFE</h2>
            </div>
            <ul>
              <p class="lead">¿Qué palabras del español son códigos de color hexadecimal válidos? Una búsqueda de diccionario nos otorga los resultados que verás en esta página. Puedes usar el filtro estricto para limitar la lista a palabras con solo las letras ABCDEF, frente al modo por defecto que usa, además, 012567 como OIZSGT.
              <br/><br/>
              Se incluyen palabras de 3 y 6 caracteres como colores RGB, de 4 y 8 caracteres como colores RGBA (colores con transparencia) y 5 y 7 caracteres como colores precedidos de ceros (puedes filtrar estos en las opciones).
              <br/>
              Si haces click sobre un color se copiará el código hexadecimal al portapapeles.
              <br/><br/>
              Basado en <a href="https://c0ffee.surge.sh/">#C0FFEE is the color.</a></p>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="colors">
      <!-- TO DO: load colors. sort by H, L, A, text-->
      <div class="container-fluid">
        <div class="row" style="height:80%">
          <div class="col-lg-2 col xs-3" style="background:#bebacafe">
            <div class="color-block">
              #BEBACAFE
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Diseñado por <a href="mailto:zhantyzgz@gmail.com?Subject=#BEBACAFE">zhantyzgz</a></p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>

  </body>
