#rectangle{
    padding: 4px;
    display: inline-block;
    background:#bebacafe;
}
body, html, .container-fluid {
     height: 100%;
}
.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
}
.color-block {
  padding-top:80px;
  padding-bottom:80px;
  display:flex;
  justify-content:center;
  align-items:center;
}
